.accordion {
  max-width: 600px;
  margin: 36px auto;
}
.accordion-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--primary600);
  color: var(--primary50);
}
.accordion-title:hover {
  background-color: var(--primary500);
}
.accordion-content {
  background-color: var(--primary200);
}

@media screen and (max-width: 400px) {
  .accordion {
    max-width: 90%;
  }
}
